@media (max-width: 1199px) and (min-width:992px) { 

h1{font-size:2.4em;}
h2{font-size:2.1em;}
h3{font-size:1.7em;}
h4{font-size:1.6em;}
h5{font-size:1.1em;}
h6{font-size:0.9em;} 
}
@media (max-width: 991px) and (min-width:768px) { 
h1{font-size:2.2em;}
h2{font-size:1.9em;}
h3{font-size:1.5em;}
h4{font-size:1.5em;}
h5{font-size:1.0em;}
h6{font-size:0.8em;} 

.welcome-note{ 
    
}
.description p i{
    font-size: 350%;
    text-align:center;
    height:180px;
    width:180px;
    
}
.hero-text{
    margin-bottom: 60px;    
} 
.description i {
    font-size: 380%;
    height: 175px;
    width:175px;    
} 

.master{
    margin-top: 80px;
    padding-bottom: 22px;
}
.bachelor{
    padding-top:22px;
    
}
#education i{
    font-size: 45px;
} 
.main-nav li{
    margin-left:35px;
}
    .social-links i{
    
    font-size: 130%;
   
}
.contact-fixed:link,
.contact-fixed:visited
{
    
    width:150px;
    border-radius: 50px;
    border: 1px #ff7600 solid;
    font-size: 120%;
   
}
.contact-fixed:hover,
.contact-fixed:active{
    color:#ff7600;
    background-color: #000;
        font-size: 120%;

}
}
@media (max-width: 767px)and (min-width:576px) { 
 h1{font-size:2.0em;}
h2{font-size:1.7em;}
h3{font-size:1.3em;}
h4{font-size:1.4em;}
h5{font-size:0.8em;}
h6{font-size:0.7em;} 
  
.welcome-note{ 
    
}
.hero-text{
    margin-bottom: 60px;    
} 
.description p i{
    font-size: 350%;
    text-align:center;
    height: 160px;
    width:160px;
}
#education i{
    font-size: 40px;
}    
.main-nav li{
    margin-left:30px;
}
    .accordionTitle
    {
 padding:20px;     
 display:block;
font-size: 1em;    

 border-radius: 100px;
 
    }
.social-links i{    
    font-size: 110%;
   
}
        .contact-fixed:link,
.contact-fixed:visited
{
    
    width:130px;
    border-radius: 50px;
    border: 1px #ff7600 solid;
    font-size: 100%;
   
}
.contact-fixed:hover,
.contact-fixed:active{
    color:#ff7600;
    background-color: #000;
        font-size: 100%;

}
}

@media screen and (max-width: 700px) {

   .accordionTitle
    {
 padding:20px;     
 display:block;
font-size: 1em;    

 border-radius: 100px;
 
    } 
}
@media (max-width:575px) {     
 
    .welcome-note{
       
    }
     h1{font-size:1.8em;}
h2{font-size:1.5em;}
h3{font-size:1.2em;}
h4{font-size:1.3em;}
h5{font-size:0.7em;}
h6{font-size:0.6em;} 
   
    .hero-text{
    margin-bottom: 50px;    
} 

.description p i{
    font-size: 350%;
    text-align:center;
    height: 160px;
    width:160px;
}    
   
#education i{
    font-size: 35px;
}
.main-nav li{
    margin-left:25px;
    margin-left:25px;
} 
       .social-links i{
    
    font-size: 90%;
   
}
    .contact-fixed:link,
.contact-fixed:visited
{
    
    width:100px;
    border-radius: 50px;
    border: 1px #ff7600 solid;
    font-size: 90%;
   
}
.contact-fixed:hover,
.contact-fixed:active{
    color:#ff7600;
    background-color: #000;
        font-size: 90%;

}
}